---

layout: home
---
<div class="card-columns">
	{% for post in site.posts %}
		<a class="custom-card" href="{{ post.url | relative_url }}">
			<div class="card bg-light">
				<div class="card-header">
					<h5 class="card-title">{{ post.title }}</h5>
					<div>
						{% for tag in post.tags %}
							<span class="badge badge-secondary">{{ tag }}</span>
						{% endfor %}
					</div>
				</div>
				<div class="card-body">
					<p class="card-text small">{{ post.description }}</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last update: {{ post.date | date:"%Y/%m/%d" }}</small>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
